{
	"CFBundleDevelopmentRegion" = English;
	CFBundleDisplayName = "${PRODUCT_NAME}";
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleIconFile = "icon.png";
	CFBundleIdentifier = "com.UbicompLab.${PRODUCT_NAME:identifier}";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = APPL;
	CFBundleVersion = "1.5";
	"UIRequiresPersistentWiFi" = YES;
	UIStatusBarHidden = NO;
}